

$primary-color: #dde3e9;
$secondary-color: white;
$terciary-color: black;

$limit: 10;
$unit: 8px;

@mixin reset-pm {
      margin: 0px;
    padding: 0px;
}
@mixin btn($background-color, $color, $bold) {
    background-color: $background-color;
    color: $color;
    border-radius: 50px;
    padding: 20px 3px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @if ($bold == "true") {
        font-weight: bolder
    }
}
.btn{
    &.btn-cta{
        @include btn($background-color: $secondary-color, $color: $terciary-color, $bold:"true" );
    }
    &:hover{
        font-size: 30px;
        @include btn($background-color: $secondary-color, $color: $terciary-color, $bold:"true" );
    }

    }



*{
  @include reset-pm();
}

@function size($value){
    @return $value * $unit;
}

body {
    background-color: $primary-color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }

a{
    color: $terciary-color;
    text-decoration: none;
}

h2{
    font-weight: bolder;
    font-size: size(6);
}
h3{
    font-weight:  lighter;
    font-size: size(3);
}

.container{
    background-color: $primary-color;
    margin: 100px auto;
    width: 1280px;
    padding: 50px;

}

ul{
    @include reset-pm();
    list-style: none;
    display: flex;
    gap: 20px;
    li{

        a{
            color: black;
            text-decoration: none;
            @include btn($background-color: $secondary-color, $color: $terciary-color, $bold:"true" );
            
        }
        & :hover{
            font-size: 30px;
        }
    }
    
}

header{
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.row{
    .col{
        width: 50%;
    }
    .col-30{
        width: 30%;
    }
    .col-70{
        width: 70%;

    }
}

.m-auto{
    margin: 0 auto;
}
.flex-container{
    display: flex;
    flex-direction: row;
}
.flex-container div{
    text-align: center;
}
 